body {
  background-color: pink;
}	
#images {
  width: 500px;
  border: thin solid black;
}

#images img {
  width: 100px;
}

h1 {
  color: purple;
 }

h3 {
  color: green;
 }

// how do you make the lists side by side?