td {
  border: thin solid black;
}

body {
  padding-left: 150px;
  padding-right: 250px;
  background-image: url(theater.jpg);
  background-size: cover; 
  background-position: center; 
  color: Pink;
  font-weight: bold;

}
